<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Main</title>
</head>
<body>
    <div class="head-part">
        <div class="logo">
            <div class="for-log">
                <img class="log-img" src="../public/log.jpg" alt="">
            </div>
            <div class="for-text">
                <h1><span class="yellow">Build</span> your dreams in <span>China</span></h1>
            </div>
        </div>
        <form class="log-part" action="/logIn" method="post">
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button name="logInBtn">Log In</button>
        </form>
    </div>
    <div class="bottom">
        
    </div>
</body>
</html>