<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Main</title>
</head>
<body>
    <div class="head-part">
        <div class="logo">
            <div class="for-log">
                <img class="log-img" src="../public/log.jpg" alt="">
            </div>
            <div class="for-text">
                <h1><span class="yellow">Build</span> your dreams in <span>China</span></h1>
            </div>
        </div>
        <form class="log-part" action="/logIn" method="post">
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button name="logInBtn">Log In</button>
        </form>
    </div>
    <div class="main-body">
        
    </div>
    <div class="bottom">
        <div>
            <i class="fa-brands fa-instagram" style="color: #fd0499;"></i>
            <a class="insta-link" href="https://www.instagram.com/">instagram</a>
            <i class="fa-brands fa-instagram" style="color: #fd0499;"></i>
            <a class="insta-link" href="https://www.instagram.com/yasdrives?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">instagram</a>
        </div>
        <div>
            <i class="fa-brands fa-whatsapp" style="color: #1aff00;"></i>
            <a class="insta-link" href="#">WhatssApp: +86 13661799136</a>
            <i class="fa-brands fa-weixin" style="color: #44ea0d;"></i>
            <p>Wechat:kiyomiddin_cs</p>
        </div>
        <div class="address">
            <i class="fa-solid fa-location-dot" style="color: #4c55ff;"></i>
            <p>China,Shanghai Zhong Shan road</p>
        </div>
        <h5>&#169 Build your dreams in China 2024.All rights reserved.</h5>
    </div>
</body>
</html>