*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.head-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1.5%;
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo h1{
    text-wrap: nowrap;
    font-weight: bold;
}

.logo .log-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.for-log{
    margin-right: 20px;
}

.for-text h1 span{
    color: rgb(6, 156, 6);
}

.for-text .yellow{
    color: rgb(56, 89, 254);
}

.log-part{
    margin-right: 100px;
}

.log-part input{
    border: 1px solid rgb(2, 2, 36);
    outline: none;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: rgb(60, 58, 58);
    color: white;
}

.log-part button{
    border: none;
    background-color: rgb(6, 188, 6);
    color: white;
    padding: 4px 20px;
    border-radius: 3px;
    transition: 0.2s;
}

.log-part button:hover{
    background-color: rgb(6, 154, 6);
    color: black;
}

@media (max-width: 700px) {
    .head-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
    }
    .logo{
        flex-direction: column;
        row-gap: 70px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .for-log{
        width: 25px;
        height: 25px;
        margin-right: 70px;
    }
   
    .log-part{
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .for-text h1{
        font-size: 20px;
    }
}


.bottom{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(166, 158, 158);
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 5px;
}
.bottom  p{
    display: inline-block;
}

.insta-link{
    text-decoration: none;
    color: rgb(166, 158, 158);
}


.head-part{
    margin-bottom: 60px;
}

.main-body1{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.about{
    width: 70%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h1{
    margin-bottom: 1rem;
    font-size: 40px;
}


.green{
    color: rgb(5, 200, 5);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.red{
    color: rgb(234, 14, 43);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dream{
    background-color: rgb(38, 98, 248);
    border-radius: 10px;
    padding: 1rem 0rem;
    text-wrap: wrap;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.weHelp{
    color: rgb(255, 255, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.dream2{
    background-color: white;
    color: black;
}

.blue{
    color: rgb(31, 91, 243);
    font-weight: bold;
}
.contact{
    text-decoration: none;
    background-color: rgba(16, 97, 248, 0.937);
    color: white;
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
    font-weight: bold;
}
.contact:hover{
    background-color: rgba(7, 77, 208, 0.937);
}

.register{
    width: 50%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.register input{
    outline: none;
    border: 1px solid rgb(149, 151, 154);
    padding-left: 0.3rem;
    border-radius: 3px;
    font-size: 14px;
    padding: 0.2rem 0.3rem;
}

.registerBtn{
    background-color: blue;
    border: none;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    transition: 0.2s;
}

.registerBtn:hover{
    background-color: rgb(9, 9, 205);
    cursor: pointer;
}

.main-body{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


@media (max-width:700px){
    .main-body1{
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}